# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build outputs
/.next/
/out/
/build/

# Testing
/coverage

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment files
.env
.env*.local

# TypeScript build info cache
*.tsbuildinfo

# IDEs and editor configurations
.idea/
.vscode/
*.sw?
*.swo

# OS specific files
.DS_Store
Thumbs.db
